CCProbe/CCProbeXML/labbook.dtd

<?xml encoding="UTF-8"?><!ENTITY % SNOBJECTS "FOLDER | NOTES | DATACOLLECTOR | DRAWING | UNITCONV | IMAGE | EXPOBJECT"><!ENTITY % CCOBJECTS "%SNOBJECTS; | SUPERNOTES"><!ENTITY % boolean "(true | false)"><!ELEMENT LABBOOK (%CCOBJECTS;)*><!ELEMENT FOLDER (%CCOBJECTS;)*><!ATTLIST FOLDER	ID			ID			#REQUIRED><!ELEMENT NOTES (#PCDATA)><!ATTLIST NOTES	ID			ID			#REQUIRED><!ELEMENT DATACOLLECTOR EMPTY><!ATTLIST DATACOLLECTOR	ID			ID			#REQUIRED><!ELEMENT DRAWING EMPTY><!ATTLIST DRAWING	ID			ID			#REQUIRED><!ELEMENT UNITCONV EMPTY><!ATTLIST UNITCONV	ID			ID			#REQUIRED><!ELEMENT IMAGE EMPTY><!ATTLIST IMAGE	ID			ID			#REQUIRED><!ELEMENT SUPERNOTES (SNTEXT,(EMBOBJ)*)><!ATTLIST SUPERNOTES	ID			ID			#REQUIRED><!ELEMENT SNTEXT (SNPARAGRAPH)*><!ATTLIST SNTEXT	indent   	CDATA 		#IMPLIED><!ELEMENT EMBOBJ (%SNOBJECTS;)><!ELEMENT SNPARAGRAPH (#PCDATA)><!ATTLIST SNPARAGRAPH	ID			ID			#REQUIRED	link   		%boolean; 	"false"	color  		CDATA 		"000000"	objlink 	IDREF 		#IMPLIED><!ELEMENT EXPOBJECT EMPTY><!ATTLIST EXPOBJECT	url CDATA #REQUIRED>