CCProbe/CCProbeXML/labbook.dtd

<?xml encoding="UTF-8"?><!ENTITY % SNOBJECTS "FOLDER | NOTES | DATACOLLECTOR | DRAWING | UNITCONV | IMAGE | EXPOBJECT"><!ENTITY % CCOBJECTS "%SNOBJECTS; | SUPERNOTES"><!ENTITY % boolean "(true | false)"><!ENTITY % probes "(Temperature | Light | SmartWheel | RawData | Force | VoltageCurrent)"><!ELEMENT LABBOOK (%CCOBJECTS;)*><!ELEMENT FOLDER (%CCOBJECTS;)*><!ATTLIST FOLDER	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ELEMENT NOTES (#PCDATA)><!ATTLIST NOTES	ID			ID			#REQUIRED	name		CDATA		#IMPLIED	indent   	CDATA 		#IMPLIED><!ELEMENT DATACOLLECTOR EMPTY><!ATTLIST DATACOLLECTOR	ID			ID			#REQUIRED	name		CDATA		#IMPLIED	probe		%probes;	"Temperature"	addintegral	%boolean;	"false"><!ELEMENT DRAWING EMPTY><!ATTLIST DRAWING	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ELEMENT UNITCONV EMPTY><!ATTLIST UNITCONV	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ELEMENT IMAGE EMPTY><!ATTLIST IMAGE	ID			ID			#REQUIRED	name		CDATA		#IMPLIED	url			CDATA		#IMPLIED><!-- SuperNotes related declarations --><!ELEMENT SUPERNOTES (SNPARAGRAPH | EMBOBJ)*><!ELEMENT EMBOBJ (%SNOBJECTS;)?><!ATTLIST EMBOBJ	object 			IDREF 			#IMPLIED	w   			CDATA			#IMPLIED	h   			CDATA			#IMPLIED	alignment		(left | right) 	"left"	wrapping   		%boolean; 		"false"	link	   		%boolean; 		"false"><!ELEMENT SNPARAGRAPH (#PCDATA)><!ATTLIST SUPERNOTES	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ATTLIST SNPARAGRAPH	link   		%boolean; 	"false"	color  		CDATA 		"000000"	object 		IDREF 		#IMPLIED	indent   	CDATA 		#IMPLIED><!ELEMENT EXPOBJECT EMPTY><!ATTLIST EXPOBJECT	ID			ID			#REQUIRED	url 		CDATA 		#REQUIRED>