CCProbe/CCProbeXML/labbook.dtd

<?xml encoding="UTF-8"?><!ENTITY % SNOBJECTS "FOLDER | NOTES | DATACOLLECTOR | DRAWING | UNITCONV | IMAGE | EXPOBJECT"><!ENTITY % CCOBJECTS "%SNOBJECTS; | SUPERNOTES"><!ENTITY % boolean "(true | false)"><!ELEMENT LABBOOK (%CCOBJECTS;)*><!ELEMENT FOLDER (%CCOBJECTS;)*><!ATTLIST FOLDER	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ELEMENT NOTES (#PCDATA)><!ATTLIST NOTES	ID			ID			#REQUIRED	name		CDATA		#IMPLIED	indent   	CDATA 		#IMPLIED><!ELEMENT DATACOLLECTOR EMPTY><!ATTLIST DATACOLLECTOR	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ELEMENT DRAWING EMPTY><!ATTLIST DRAWING	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ELEMENT UNITCONV EMPTY><!ATTLIST UNITCONV	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ELEMENT IMAGE EMPTY><!ATTLIST IMAGE	ID			ID			#REQUIRED	name		CDATA		#IMPLIED	src			CDATA		#IMPLIED><!-- SuperNotes related declarations --><!ELEMENT SUPERNOTES (SNTEXT,(EMBOBJ)*)><!ELEMENT SNTEXT (SNPARAGRAPH)*><!ELEMENT EMBOBJ (%SNOBJECTS;)><!ATTLIST EMBOBJ	line   			CDATA			#REQUIRED	w   			CDATA			#IMPLIED	h   			CDATA			#IMPLIED	alignment		(left | right) 	"left"	wrapping   		%boolean; 		"false"	link	   		%boolean; 		"false"	objlink 		IDREF 			#IMPLIED><!ELEMENT SNPARAGRAPH (#PCDATA)><!ATTLIST SUPERNOTES	ID			ID			#REQUIRED	name		CDATA		#IMPLIED><!ATTLIST SNTEXT	indent   	CDATA 		#IMPLIED><!ATTLIST SNPARAGRAPH	ID			ID			#REQUIRED	link   		%boolean; 	"false"	color  		CDATA 		"000000"	objlink 	IDREF 		#IMPLIED><!ELEMENT EXPOBJECT EMPTY><!ATTLIST EXPOBJECT	url CDATA #REQUIRED>