TeemssXML/project.dtd

<?xml encoding="UTF-8"?>
<!ENTITY % TEXT1 "#PCDATA|image|ext_image_sequence|ext_image|p"> 
<!ENTITY % TEXT "(%TEXT1;)*">

<!ELEMENT junk (#PCDATA)>
<!ELEMENT project (title, unit+)>
<!ELEMENT title (#PCDATA)>
<!ATTLIST project name CDATA #REQUIRED >
<!ELEMENT unit (title, investigation+)>
<!ATTLIST unit       name CDATA #REQUIRED> 
<!ELEMENT investigation (title, summary, question, intro, think, materials, safety, trial+, hints, analysis, further)>
<!ATTLIST investigation name CDATA #REQUIRED >
<!ELEMENT summary (#PCDATA)>
<!ELEMENT question (#PCDATA)>
<!ELEMENT intro %TEXT;>
<!ELEMENT think %TEXT;>
<!ELEMENT materials (ext_image?,item+)>
<!ELEMENT safety (item+)>
<!ELEMENT trial (%TEXT1; | instructions | steps)*>
<!ATTLIST trial title   CDATA #REQUIRED>
<!ELEMENT instructions (instruction+)>
<!ELEMENT instruction (%TEXT1; | steps)*>
<!ATTLIST instruction title CDATA #REQUIRED>
<!ELEMENT steps (step+)>
<!ELEMENT step (%TEXT1; | steps)*>
<!ELEMENT hints (hint+)>
<!ELEMENT hint (title,heading,body)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body %TEXT;>
<!ELEMENT analysis (data*, steps)>
<!ELEMENT data EMPTY>
<!ATTLIST data trial CDATA #REQUIRED>
<!ELEMENT further (item+)>
<!ELEMENT item %TEXT;>
<!ELEMENT ext_image EMPTY>
<!ATTLIST ext_image type (gif|jpg) "gif">
<!ATTLIST ext_image  name CDATA  #REQUIRED>
<!ELEMENT ext_image_sequence (ext_image+)>
<!ELEMENT image EMPTY>
<!ATTLIST image name CDATA #REQUIRED>
<!ATTLIST image  dir CDATA #REQUIRED>
<!ELEMENT p %TEXT;>       
